click==7.1.1
dashboard==0.0.6
databases==0.3.2
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter-dashboards==0.7.0
jupyter-server==0.1.1
jupyterlab-pygments==0.1.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
notebook==6.0.3
numpy==1.18.4
pandas==1.0.4
plotly==4.8.1
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
statsmodels==0.11.0
tensorboard==2.1.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
widgetsnbextension==3.5.1
